/* .gellary-back {
    background: rgba(6, 12, 23, 0.3);
    background-image: url("../assets/images/gellaryBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-back {
    background: rgba(6, 12, 23, 0.3);
    background-image: url("../assets/images/gellaryBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.card-margin {
    margin-right: 88px;
}

.project-cardBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.projects-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 74px;
    letter-spacing: 0.464972px;
    color: #2E2E2E;
}

.project-infos {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    position: relative;
    left: 5%;
    bottom: 80px;
    width: 28vw;
    height: 157px;
    background-color: #FFFFFF;
    padding: 13px;
}

.project-infosCard {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    position: relative;
    left: 7%;
    bottom: 62px;
    width: 34vw;
    height: 123px;
    background-color: #FFFFFF;
    padding: 13px;
}

.infos-ProTilte {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */

    text-align: center;
    letter-spacing: 0.464972px;

    /* Headings */

    color: #2E2E2E;
    width: 224px;
    margin-top: 30px;
}

.infos-ProTilteScond {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 0.464972px;

    /* Headings */

    color: #2E2E2E;
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .card-margin {
        margin-right: 1px;
    }


    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }

    .project-cardBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }

    .projects-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 64px;
        /* identical to box height, or 268% */

        text-align: center;
        letter-spacing: 0.301582px;

        /* Headings */

        color: #2E2E2E;
    }

    .project-infos {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        position: relative;
        left: 5%;
        bottom: 44px;
        width: 63vw;
        height: 99px;
        background-color: #FFFFFF;
        padding: 13px;
    }

    .infos-ProTilte {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        /* or 135% */

        text-align: center;
        letter-spacing: 0.251782px;

        /* Headings */

        color: #2E2E2E;

        width: 131px;
        margin-top: 20px;
    }

    .project-infosCard {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        position: relative;
        left: 4%;
        bottom: 44px;
        width: 84vw;
        height: 87px;
        background-color: #FFFFFF;
        padding: 12px;
    }


    .infos-ProTilteScond {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 40px;
        /* identical to box height, or 288% */

        letter-spacing: 0.251782px;

        /* Headings */

        color: #2E2E2E;
        margin-top: 15px;
    }
}